@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500&family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Khand';
}
 
body {
    background-color: #25212B;
    width: 100%;
}

/* CABEÇA */


.header-h {
    display: flex;
    width: 100%;
    padding: 30px;
    background-color: #201c25;
    align-items: center;
    justify-content: space-around;
}

.logo-top {
    width: 200px;
    align-items: center;
    margin-right: 400px;
}

.navbar-menu {
    
    display: flex;
    gap: 50px;
}

.texto-menu {
    font-family: 'Khand';
    font-style: normal;
    color: #FFFFFF;
    font-size: 24px;
}


/* CORPO */
.copor-precipal {
    
    margin-top: 100px;
}

.sessao1 {
    display: flex;
    justify-content: space-evenly;
    height: 800px;
}

.boneco1 {
    height: 502px;
    
    
    
}

.bloco-text-bnt {
    display: flex;
    flex-direction: column;
    height: 800px;
    
    gap: 10px;
}

.texto-titulo1 {
    color: #ffffff;
    font-family: 'Khand', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 147px;
}

.texto-sub1 {
    font-family: 'Khand';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    color: #ffffff;
}


.texto-paragrafo1 {
    font-family: 'Khand';
    font-style: normal;
    
    font-size: 24px;
    line-height: 37px;

    color: #FFFFFF;
}

.botao {
    width: 227px;
    height: 70px;
    border: none;
    background: #BA68C8;
    border-radius: 13px;
    margin-top: 30px;
    font-family: 'Khand';
    font-style: normal;
    
    font-size: 25px;
    color: #FFFFFF;
}

.botao {
    transition-duration: 0.4s;
}

.botao:hover {
    background-color: #564caf; 
    color: white; 
}

/* TEXTO */

.sessao2 {
    background-color: #201c25;
    padding-top: 150px;
}

.texto-titulo-sessao2 {
    text-align: center;
    font-family: 'Khand';
    color: #FFFFFF;
    font-size: 35px;
}

.texto-paragrafo5 {
    text-align: center;
    font-family: 'Khand';
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;

}

span {
    color: #BA68C8;
}

/* ICONS */

.icones {
    display: flex;
    width: 100%;
    height: 451px;
    padding: 50px 0px;
    justify-content: center;
    gap: 50px;
    background-color: #201c25;
    
}


.bloco-html {
    width: 180px;
    height: 170px;
    background: #BA68C8;
    border-radius: 18px;
    
}

.icon1 {
    width: 3rem;
    margin: 56px 65px;
}


.texto-titulo-sessao3 {
    padding-top: 80px;
    text-align: center;
    font-family: 'Khand';
    color: #FFFFFF;
    font-size: 35px;
}

.texto-paragrafo6 {
    margin-bottom: 100px;
    text-align: center;
    font-family: 'Khand';
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
}



/* rodape */

.footer-distributed {
  background-color: #201c25;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #BA68C8;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* EFEITO REDES SOCIAIS */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

/* EFEITO ICONES PRINCIPAL */

.bloco-html {
    transition-duration: 0.4s;
}

.bloco-html:hover {
    background-color: #564caf; 
    color: white; 
}

/* EFEITO CABEÇALHO */

.texto-menu {
    transition-duration: 0.4s;
}

.texto-menu:hover {
    color: #564caf; 
}
